<div class="container">
  <h2>つぶやき一覧</h2>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <div class="">
    <div class="">
      <div class="row row-eq-height">
        <% @tweets.each do |tweet| %>
        <div class="col-md-5 col-md-offset-1 col-xs-12">

          <div class="panel panel-default">
            <div class="tweet-content panel-body">
              <div class="tweet-content">
                <%= tweet.content %>
              </div>
              <div class="tweet-image">
                <%= image_tag(tweet.image, class: :upload_image) %>
              </div>
            </div>
            <div class="tweet-footer panel-footer clearfix">
              <div class="tweet-info">
                <span class="user-icon"> <%= get_icon tweet.user %> </span>
                <span class="user-name"><%= tweet.user.name %></span>
                <div class="tweet-time"><%= tweet.updated_at.in_time_zone('Tokyo') %></div>
              </div>
              <% if logged_in? %>
              <div class=" btn-content">
                <% unless tweet.user_id == current_user.id %>
                  <% if @favorites.find_by(tweet_id: tweet.id).present? %>
                    <%= link_to 'お気に入り解除する', favorite_path(id: " ", tweet_id: tweet.id), method: :delete, class: 'btn btn-danger' %>
                  <% else %>
                    <%= link_to 'お気に入りする', favorites_path(tweet_id: tweet.id), method: :post, class: 'btn btn-primary' %>
                  <% end %>
                <% end %>

                <% if tweet.user_id == current_user.id %>
                <span class="btn btn-info">
                  <%= link_to "編集",
                              edit_tweet_path(tweet.id),
                              data: {confirm: "本当に編集していいですか？"} %>
                </span>
                <span class="btn btn-danger">
                  <%= link_to "削除",
                              tweet_path(tweet.id),
                              method: :delete,
                              data: {confirm: "本当に削除してもいいですか？"} %>
                </span>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
